
body {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    background-image: url('../imgs/img1-1920x1080.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: #333;
}

header {

    
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;

}

header .logo {
    font-size: 3rem;
    font-weight: bold;
    color: #faf3f3;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: #e8e0e0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
}

header nav ul li a:hover {
    color:  #e6b800;
}

.hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color:#ede5e5;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #e2dddd;
}

.hero .btn {
    background-color: #ffcc00;
    color: #333;
    padding: 0.8rem 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
}

.hero .btn:hover {
    background-color: #caa308;
}
/*product*/
.products {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.product-card {
    background-color: #fff;
    background: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.product-card p {
    color: #666;
    margin-bottom: 1rem;
}

.product-card .price {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

.product-card .btn {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.product-card .btn:hover {
    background-color: #555;
}
.page {
    animation: zoomIn 1s ease-out forwards;
    transform: scale(1); /* fallback */
  }

footer {
    background-color: #896f6f37;
    color: #fefafa;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}